/* Style By Armas B Logo & Visual Designer */
* {
	margin: 0;
	padding: 0;
	text-align: center;
}
html {
	padding: 16px;
	scroll-behavior: smooth;
}
@font-face {
		font-family: Yasashisha;
		src:url(/font/YASASHISAGOTHICBOLD-V2.OTF);
}
#responsive {
	display: none;
}
.divider {
	background: #F2F4F6;
	height: 2px;
	width: auto;
	margin: 0 48px 72px;;
}
body {
	font-family: 'Manrope', 'Yasashisha', sans-serif;
	background: #FFFFFF;
	font-size: 24px;
	color: #495057
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#hero{
	height: 100%;
}
#content {
	margin: 0 auto;
	max-width: 1280px;
	background: #F2F4F6;
	border-radius: 24px;
	display: flex;
}
#content-inside {
	margin: auto;
	padding: 72px 24px;
}
#logo {
	padding: 0 48px;
}
#logo img {
	max-height: 80px;
	width: 100%;
	margin: 0
}
#content h2 {
/**
	background: -webkit-linear-gradient(0deg, rgba(107,153,144,1) 0%, rgba(107,126,177,1) 35%, rgba(186,145,173,1) 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent; **/
	color: #495057;
	font-size: 40px;
	line-height: 1.25;
	margin: 24px 0
}
#cta_button {
	border-radius: 32px;
	padding: 16px 48px;
	display: inline-block;
	margin-top: 24px;
	font-size: 18pt;
	font-weight: 800;
	background: rgb(107,153,144);
  background: linear-gradient(135deg, rgba(107,153,144,1) 0%, rgba(107,126,177,1) 35%, rgba(186,145,173,1) 100%);
	border: solid 1px rgba(0,0,0,0);
	color: #fff;
	text-decoration: none;
	cursor: pointer;
	transition: 0.2s;
	transition-timing-function: ease-in-out;
}
#cta_button a {
	color: #fff;
	margin: auto;
	text-decoration: none;
}
#cta_button:hover {
	color: #fff;
	text-decoration: none;
	transform: translate(0,-2px);
	box-shadow: 1px 4px 24px 0px rgba(177,143,173,0.4);
	-webkit-box-shadow: 1px 4px 24px 0px rgba(177,143,173,0.4);
	-moz-box-shadow: 1px 4px 24px 0px rgba(177,143,173,0.4);
	transition: 0.2s;
	transition-timing-function: ease-in-out;
}
#content h1 {
	font-size: 128px;
	text-align: center;
	background: -webkit-linear-gradient(0deg, rgba(107,153,144,1) 0%, rgba(107,126,177,1) 35%, rgba(186,145,173,1) 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-weight: 800;
	margin-bottom: 12px;
}
#projects {
	width: 100%;
	max-width: 1280px;
	height: 100%;
	padding: 16px 0;
	margin: auto;
}
#section-1 {
	display: inline-flex;
	width: 100%;
}
.section {
	width: 100%;
	display: flex;
	aspect-ratio:6/4;
	border-radius: 24px;
	border: 2px solid #F2F4F6;
	cursor: pointer;
	transition: 0.2s;
	transition-timing-function: ease-in-out;
}
.section:hover {
	transform: translate(0,-2px);
	box-shadow: 1px 4px 64px 0px rgba(0,0,0,0.1);
	-webkit-box-shadow: 1px 4px 64px 0px rgba(0,0,0,0.1);
	-moz-box-shadow: 1px 4px 64px 0px rgba(0,0,0,0.1);
	transition: 0.2s;
	transition-timing-function: ease-in-out;
}
.section p {
	margin: auto;
	text-align: center;
	font-size: 72px;
	text-decoration: none;
	font-weight: bold;
	background: -webkit-linear-gradient(0deg, rgba(107,153,144,1) 0%, rgba(107,126,177,1) 35%, rgba(186,145,173,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#artisan_tray {
	background: url("/artisan_tray/hero.png") no-repeat center center;
	background-size: contain;
}
#coaster {
	background: url("/coaster/hero.png") no-repeat center center;
	background-size: contain;
}
#WKL {
	background: url("/wkl/hero.png") no-repeat center center;
	background-size: contain;
}

#FRLTKL {
	background: url("/frltkl/hero.png") no-repeat center center;
	background-size: contain;
}
#Deskmat {
	background: url("/deskmat/hero.png") no-repeat center center #313953;
	background-size: contain;
}
#HHKB {
	background: url("/hhkb/hero.png") no-repeat center center;
	background-size: contain;
}
.spacer {
	height: 100%;
	width: 32px;
}
.spacer_full {
	height: 100%;
	width: 100%;
}
.spacer_vertical{
	width: 100%;
	height: 16px;
}

footer {
	height: auto;
	width: auto;
	display: block;
}
footer .wrapper{
	width: auto;
	max-width: 1280px;
	display: block;
	margin: auto;
	background-color: #F2F4F6;
	border-radius: 16px;
}
footer .content {
	padding: 80px 64px 64px;
}
#id {
		text-align: center;
		display: block;
		margin: auto;
		max-width: 480px;
}
#id h3 {
			text-align: center;
			font-family: Manrope;
			color: #495057;
}
#id p {
		text-align: center;
		font-family: Yasashisha;
		background: -webkit-linear-gradient(0deg, rgba(107,153,144,1) 0%, rgba(107,126,177,1) 35%, rgba(186,145,173,1) 100%);
	  -webkit-background-clip: text;
	  -webkit-text-fill-color: transparent;
		font-size: 18pt;
		font-weight: 800;
		margin-bottom: 12px;
}
#id span {
		text-align: center;
		font-family: Manrope;
		color: #CED4DA;
		font-size: 24pt;
		font-weight: 800;
}
#id h5 {
		width: auto;
		margin: 24px 0 64px;
		color: #495057;
		font-size: 18pt;
		font-weight: 300;
}
#social {
	display: inline-flex;
}
#social a {
	display: contents;
	text-align: center;
}
#social img {
	display: flex;
	padding: 0px 16px;
}
