@media screen and (max-width: 1028px) {
  #no-responsive {
    display: none;
  }
  #responsive {
    display: block;
  }
  #content-inside {
    padding: 96px 24px;
  }
  #content h2 {
    font-size: 16pt;
  }
  #cta_button {
    font-size: 14pt;
    padding: 12px 40px;
  }
  #section-1 {
    display: block;
  }
  .section p {
    font-size: 48px;
  }
  .spacer {
  	height: 16px;
  	width: 100%;
  }
  #id h3 {
      font-size: 24pt;
  }
  #id p {
  		font-size: 12pt;
  }
  #id span {
  		font-size: 20pt;
  }
  #id h5 {
  		font-size: 14pt;
  }
  #content h1 {
    font-size: 64px
  }
.section:hover {
	transform: translate(0,0);
	box-shadow: 1px 4px 64px 0px rgba(0,0,0,0.0);
	-webkit-box-shadow: 1px 4px 64px 0px rgba(0,0,0,0.0);
	-moz-box-shadow: 1px 4px 64px 0px rgba(0,0,0,0.0);
}
}
