/* Style By Armas B Logo & Visual Designer */
* {
	margin: 0;
	padding: 0;
	text-align: center;
}
@font-face {
		font-family: Yasashisha;
		src:url(../font/YASASHISAGOTHICBOLD-V2.OTF);
}
#responsive {
	display: none;
}
.divider {
	background: #F2F4F6;
	height: 2px;
	width: auto;
	margin: 0 48px 72px;;
}
body {
	font-family: 'Manrope', 'Yasashisha', sans-serif;
	background: #FFFFFF;
	font-size: 24px;
	color: #495057
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#nav {
	width: 100%;
	height: 72px;
	display: flex;
	align-items: center;
	overflow: hidden;
	position: fixed;
	background: #fff;
	margin: 0 auto;
	top: 0;
	vertical-align: middle;
	z-index: 1;
}
#nav a {
	margin: auto;
}
#hero{
	width: 100%;
	height: 75vh;
	min-height: 480px;
	max-height: 800px;
	margin: 72px auto 0;
}
#content {
	margin: 0 auto;
	width: 100%;
	max-width: 640px;
	min-width: 360px;
	position: relative;
	top: 25%;
}
#logo {
	padding: 0 48px;
}
#logo img {
	max-height: 56px;
	width: 100%;
	margin: 0
}
#content h2 {
	font-family: Yasashisha;
	color: #868E96;
	font-size: 24px;
	padding-top: 8px;
}
#cta_button {
	border-radius: 32px;
	padding: 16px 48px;
	display: inline-block;
	margin-top: 24px;
	font-size: 18pt;
	font-weight: 800;
	background: rgb(107,153,144);
  background: linear-gradient(90deg, rgba(107,153,144,1) 0%, rgba(107,126,177,1) 35%, rgba(186,145,173,1) 100%);
	border: solid 1px rgba(0,0,0,0);
	color: #fff;
	text-decoration: none;
	cursor: pointer;
}
#cta_button a {
	color: #2AAFA1;
	margin: auto;
	text-decoration: none;
}
#cta_button a:hover {
	color: #fff;
	text-decoration: none;
}
#hero_image {
	width: auto;
	margin-top: 16px;
}
#hero_image img {
	display: block;
  margin: auto;
}
#intro {
	display:block;
	height: auto;
	width: 100%;
	margin: 0;
	padding: 96px 0 128px;
	background-color: #F2F4F6;
	min-width: 360px;
}
#intro_content {
	margin: auto;
	max-width: 640px;
	padding: 0 48px;
}
#content h1 {
	font-size: 128px;
	text-align: center;
	background: -webkit-linear-gradient(90deg, rgba(107,153,144,1) 0%, rgba(107,126,177,1) 35%, rgba(186,145,173,1) 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-weight: 800;
	margin-bottom: 12px;
}
#intro_content h1 {
	font-family: Yasashisha;
	font-size: 32pt;
	color: #495057
}
#intro_content p {
	color: #868E96;
	font-size: 14pt;
	letter-spacing: 12px;
	font-weight: 800;
	margin-top: 4px;
	margin-bottom: 12px;
}
#intro_content span {
	color: #CED4DA;
	font-size: 24pt;
	font-weight: 800;
}

#intro_content h5 {
	width: auto;
	margin-top: 24px;
	color: #495057;
	font-size: 18pt;
	font-weight: 300;
}

#section1 {
	margin-top: 96px;
}

.section {
	height: auto;
	width: auto;
	display: flex;
	padding: 0 48px;
}

.wrapper {
	max-width: 1440px;
  margin: 0 auto;
  width: 100%;
  display: flex;
}
.image {
	height: 480px;
	width: 50%;
	display: table;
	padding: 0 64px;
	vertical-align: middle;
}
 img {
	width: 100%;
}

.text {
	display: table;
	width: 50%;
	background: #fff;
	height: auto;
	vertical-align: middle;
	margin: auto;
	padding-bottom: 128px;
}
.title {
	width: 100%;
	display: flex;
}
.title_group {
	display: block;
	width: auto;
}
h3 {
	text-align: left;
	font-family: Yasashisha;
	font-size: 32pt;
	color: #495057;
	margin-bottom: 16px;
}
h4 {
	text-align: left;
	color: #868E96;
	font-size: 14pt;
	letter-spacing: 8px;
	font-weight: 800;
	margin-top: 4px;
	margin-bottom: 12px;
	line-height: 2;
}
h6 {
	text-align: left;
	width: auto;
	margin-top: 12px;
	color: #495057;
	font-size: 16pt;
	font-weight: 300;
}
.line_container {
	height: auto;
	width: auto;
	padding-left: 24px;
	vertical-align: middle;
	margin: auto;
}
.line {
	height: 4px;
	background-color: #ddd;
}
ul {
	padding-left: 24px;
}
li {
	text-align: left;
}
#conclusion_content h1 {
	font-family: Yasashisha;
	font-size: 32pt;
	color: #495057;
	margin-bottom: 16px;
}
#conclusion_content p {
	color: #868E96;
	font-size: 14pt;
	letter-spacing: 12px;
	font-weight: 800;
	margin-top: 4px;
	margin-bottom: 12px;
}
#conclusion_content span {
	color: #CED4DA;
	font-size: 24pt;
	font-weight: 800;
}

#conclusion_content h5 {
	width: auto;
	margin-top: 24px;
	color: #495057;
	font-size: 18pt;
	font-weight: 300;
}
#conclusion_content {
	margin: auto;
	max-width: 640px;
	padding: 0 48px 96px;;
}
#conclusion {
	width: 100%;
	margin: 0 auto;
	display: block;
}
#conclusion_image {
	display: block;
	margin-bottom: 48px;
	padding: 0 48px;
}
#conclusion_image img {
	width: 100%;
	max-width: 840px;
	height: auto;
	margin: 0 auto;
	display: block;
}
footer {
	height: auto;
	width: auto;
	display: block;
	background-color: #F2F4F6;
}
footer .wrapper{
	width: auto;
	max-width: 640px;
	padding: 128px 48px;
	display: block;
	margin: auto;
}
#id {
		text-align: center;
		display: block;
		margin: auto;
}
#id h3 {
			text-align: center;
			font-family: Manrope;
			color: #495057;
}
#id p {
		text-align: center;
		font-family: Yasashisha;
		background: -webkit-linear-gradient(90deg, rgba(107,153,144,1) 0%, rgba(107,126,177,1) 35%, rgba(186,145,173,1) 100%);
	  -webkit-background-clip: text;
	  -webkit-text-fill-color: transparent;
		font-size: 18pt;
		font-weight: 800;
		margin-bottom: 12px;
}
#id span {
		text-align: center;
		font-family: Manrope;
		color: #CED4DA;
		font-size: 24pt;
		font-weight: 800;
}
#id h5 {
		width: auto;
		margin: 24px 0 64px;
		color: #495057;
		font-size: 18pt;
		font-weight: 300;
}
#social {
	display: inline-flex;
}
#social a {
	display: contents;
	text-align: center;
}
#social img {
	display: flex;
	padding: 0px 16px;
}
