@media screen and (max-width: 1028px) {
  #no-responsive {
    display: none;
  }
  #responsive {
    display: block;
  }
  #nav_container {
    display: block;
    padding: 0
  }
  #left_nav {
    display: hidden;
  }
  #right_nav {
    justify-content: center;
  }
  #nav ul {
  	display: inline-flex;
  	padding: 0
  }
  #nav li {
  	display: inline;
  	padding: 16px;
  	text-align: center;
  	font-size: 12pt;
  	font-weight: bold;
  }
  #cta_button {
    font-size: 12pt;
    padding: 12px 40px;
  }
  #cta_old {
    font-size: 14pt;
    padding: 12px 40px;
  }
  #cta_status {
    font-size: 14pt;
    padding: 12px 40px;
  }
  #hero_image {
    padding: 0 72px;
  }
  #intro_content h1 {
  	font-size: 24pt;
  }
  #intro_content p {
  	font-size: 12pt;
  	letter-spacing: 12px;
  }
  #intro_content span {
  	font-size: 20pt;
  }

  #intro_content h5 {
  	font-size: 14pt;
  	font-weight: 300;
  }
  .section {
  	display: block;
  }
  .wrapper {
    display: inline-block;
    margin-bottom: 32px;
  }
  .text {
    margin: 0 auto;
    width: auto;
    text-align: center;
    padding: 0;
  }
  h3 {
  	text-align: center;
    font-size: 24pt;
  }
  h4 {
  	text-align: center;
    font-size: 12pt;
  }
  h6 {
  	text-align: center;
    font-size: 14pt;
  }
  .title_group {
    margin: auto;
  }
  .image {
    width: auto;
    margin: 48px auto 24px;
    height: 100%;
    padding: 0;
  }
  ul {
    padding-left: 0;
  }
  li {
    text-align: center;
    list-style-type: none;
    padding: 4px 0;
  }
  #conclusion_content h1 {
  	font-size: 28pt;
  }
  #conclusion_content p {
  	font-size: 12pt;
  }
  #conclusion_content span {
  	font-size: 20pt;
  }
  #conclusion_content h5 {
  	font-size: 14pt;
  }
  #id h3 {
      font-size: 24pt;
  }
  #id p {
  		font-size: 12pt;
  }
  #id span {
  		font-size: 20pt;
  }
  #id h5 {
  		font-size: 14pt;
  }
  #content h1 {
    font-size: 64px
  }
  #hero {
    height: 50vh;
  }
}
#cta_old h7 {
  font-size: 14pt;
}
h8 {
  font-size: 14pt;
}
